
<html>
<head>
  <title>To-do app with Node</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>
<body>
  <div id="cont">
    <form>
      <input type="text" placeholder="Add new item" name="item" required />
      <input type="submit" value="Add item" />
    </form>
  </div>
</body>
</html>
